.main-header {
    background-color: aquamarine;
    display: inline-block;
    width: 700px;
    margin-left:calc(50% - 350px);
}

.logo{
    border: solid 1px red;
    width: 60px;
    float: left;
}

.main-nav {
    background-color: yellow;
    display: inline-block;
    margin-left: calc(350px / 2);
}

.search-icon {
    border: solid 1px blueviolet;
    float: right;
    width: 40px;
}